include LICENSE
include README.md
recursive-include app/templates *
recursive-include app/static *
recursive-include config *.py
recursive-include core *.py
recursive-include utils *.py
recursive-include cli *.py
global-exclude .DS_Store
global-exclude *.pyc
global-exclude __pycache__
